.DS_Store
.dart_tool/

.packages
.pub/
pubspec.lock
# Local configuration file (sdk path, etc)
local.properties

# Android Studio
/*/build/
/*/local.properties
/*/out
/*/*/build
/*/*/production

# User-specific configurations
**/.idea/caches/
**/.idea/libraries/
**/.idea/shelf/
**/.idea/workspace.xml
**/.idea/tasks.xml
**/.idea/.name
**/.idea/compiler.xml
**/.idea/copyright/profiles_settings.xml
**/.idea/encodings.xml
**/.idea/misc.xml
**/.idea/modules.xml
**/.idea/scopes/scope_settings.xml
**/.idea/dictionaries
**/.idea/vcs.xml
**/.idea/jsLibraryMappings.xml
**/.idea/datasources.xml
**/.idea/dataSources.ids
**/.idea/sqlDataSources.xml
**/.idea/dynamic.xml
**/.idea/uiDesigner.xml
**/.idea/assetWizardSettings.xml
example/ios/Podfile
example/ios/Podfile.lock
